@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
*{
padding:0; margin:0; vertical-align:baseline; list-style:none; border:0; font-size:20px;text-decoration:none;
}
header{
	margin: auto;
	height: 300px;
    max-width: 1200px;
	min-width: 320px;
    position: relative;
    background-color:lightgray;
}
picture img{
	padding-top: 20px;
	margin: auto;
	display: block;
	max-width: 300px;
	max-height: 500px;
}
#menu{
	max-width: 400px;
	display: block;
	margin: 10px auto;
	background-color: #007fff;
	position:relative; 
	border-radius: 20px;
}
#menu li{
	display: inline-block;
	padding: 2%;
	padding-left: 3%;
}
#menu li:hover ul{
	display: block;
}
#dropp{
	display: none;
	position:absolute;
	background-color: #007fff;
	width: 30%;
	margin-left: -2px;
	padding: 10px;
	border-radius: 15px;
}	
#dropp a{
	position:relative;
	margin-left: 15px;
}
#dropl{
	display: none;
	position:absolute;
	background-color: #007fff;
	width: 25%;
	margin-left: -35px	;
	padding: 10px;
	border-radius: 15px;
}
#dropl a{
	position:relative;
	margin-left: 15px;
}
#menu a{
	color:white;
	font-size: 27px;
}
#menu a:hover{
	color: #000fff;
	text-decoration: underline;
}
#inicio{
	text-decoration: overline;
}
#inicio{
	text-decoration: overline;
}
#interface{
    width:82%;
    	margin: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
    border-bottom: 5px dashed lightgray;
	padding: 20px;
}
#titulojogo{
	font-family: Train One;
	margin-bottom:100px;
	font-size: 30px;
}
.sobreecontrole{
	display: inline-block;
	position: relative;
	margin-top: 100px;
	margin-left: 20px;	
	background-color: #dddddd;
	width:45%;
}
.sobreecontrole h1{
        background-color: #007fff;
	padding-left:30px; 
    	font-size: 25px; 
        position: relative; 
        margin-bottom:20px;
	font-family: Train One;
}
.sobreecontrole p{
	padding: 20px;
}
#rodape{
    position:relative;
    background-color: rgb(238, 229, 229);
    padding:40px;
	color:red;
    margin-top:100px;
}
#rodape span{
	font-size:15px;
}
