@import "menu.css";

#inicio{
	text-decoration: overline;
}
#interface{
    width:82%;
    	margin: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
    border-bottom: 5px dashed lightgray;
	padding: 20px;
}
#titulojogo{
	font-family: Train One;
    margin-top: 5%;
	margin-bottom: 2%;
	font-size: 30px;
}
.sobreecontrole{
	display: inline-block;
	position: relative;
	margin-top: 100px;
	margin-left: 20px;	
	background-color: #dddddd;
	width:45%;
}
.sobreecontrole h1{
    background-color: #007fff;
    padding-left:30px; 
    font-size: 25px; 
    position: relative; 
    margin-bottom:20px;
    font-family: Train One;
}
.sobreecontrole p{
	padding: 20px;
}
#rodape{
    position:relative;
    background-color: rgb(238, 229, 229);
    padding:40px;
	color:red;
    margin-top:100px;
}
#rodape span{
	font-size:15px;
}

@media screen and (max-width: 960px){
    iframe{
        width: 100%;
    }

    .sobreecontrole{
        width: 100%;
        margin: 3px auto;
    }
}